body {
    font-family: Arial;
    background-color: #CCCCCC;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo::after {
    content: "";
    background: url(/Images/lokislayer_logo.png);
    opacity: 0.5;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: -1;
    position: absoulte;
}

img {
    width: 22%;
}

.name {
    text-align: center;
}

.date {
    font-weight: bold;
    margin-left: 20px;
}

.updates {
    margin-left: 50px;
    width: 600px;
    line-height: 25px;

}

.embed {
    margin-bottom: 5px;
    margin-left: 50px;
}

footer {
    position: absolute;
    background: #333333;
    left: 0;
    bottom: 50px;
    right:0;
    width: 100%;
    text-align: center;
}

.footer-links {
    text-align: center;
}

.footer-links ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.footer-links li {
	display: inline;
}
.footer-links a {
	color: #d9d9d9;
	text-decoration: none;
	font-size: 16px;
    margin-right: 15px;
}

.footer-links ul li a:hover {
    color: #2a70d9;
}


.Copyright {
    text-align: center;
    background-color: wheat;
}

